In [1]:
import numpy as np

### 1) Alturas  
i. No trecho de código abaixo, crie um ndarray chamado ```altura_em_centimetros``` transformando a lista ```lista_de_alturas``` em um ndarray do numpy com a função ```np.array()```  
ii. Crie um outro objeto ```altura_em_metros```, com os valores de ```altura_em_centimetros``` convertidos para metros.

In [2]:
lista_de_centimetros = list(range(170, 190, 5))
lista_de_centimetros

[170, 175, 180, 185]

In [3]:
altura_em_centimetros = np.array(lista_de_centimetros, dtype="float")
altura_em_centimetros

array([170., 175., 180., 185.])

In [4]:
altura_em_metros = altura_em_centimetros / 100
altura_em_metros

array([1.7 , 1.75, 1.8 , 1.85])

### 2) IMC  
i. Considere que pesos em Kg dessas pessoas, na mesma ordem, estão na lista pesos ```lista_pesos = [70, 75, 80, 85]```. Crie um **ndarray** chamado ```pesos``` com a função ```np.array()``` que contenha esses valores.  
ii. Utilizando o objeto que contém as alturas em metros e esse objeto que contém os respectivos pesos em quilos, calcule o IMC desses indivíduos utilizando a aritmética de arrays e guarde os resultados em um objeto chamado ```imc```.

In [5]:
lista_pesos = [70, 75, 80, 85]
# seu código aqui

lista_pesos = np.array(lista_pesos)
lista_pesos

array([70, 75, 80, 85])

In [6]:
pesos = lista_pesos[:]
print(pesos)
print("")

alturas = altura_em_metros[:]
print(alturas)

[70 75 80 85]

[1.7  1.75 1.8  1.85]

In [7]:
# calcule o IMC dessas pessoas
calculando_imc = lambda peso, altura : (peso / altura**2)

print(calculando_imc(peso=pesos, altura=alturas).round(2))

[24.22 24.49 24.69 24.84]

### 3) Endividamento

Cálculos de novas variáveis como endividamento total e comprometimento de renda são essenciais para a construção de modelos financeiros em ciência de dados. Áreas não financeiras terão cálculos semelhantes também. Vamos praticar:

Considere que o seguinte ndarray contém os dados de 4 pessoas, total a ser pago a empréstimos mensalmente e renda familiar:

| custo fixo | dívida financeira | renda familiar |
|:----:|:----:|:---|
| 3000  | 1000 | 6000 |
| 2500  | 2500 | 5500 |
| 1000  | 3000 | 7000 |
| 10000 | 5000 | 16000 |

i. Transforme a lista de listas ```dados_financeiros``` no ndarray ```nd_financeiros```.
> ``` dados_financeiros[[3000, 2500, 1000, 10000],[1000, 2500, 3000, 5000],[6000, 5500, 7000, 16000]] ```

ii. Utilize o método ```.transpose ``` e certifique-se de que esse ndarray tenha uma linha por indivíduo e uma coluna por informação. Utilizando a indexação do numpy, imprima no output a segunda linha do array, depois a segunda coluna.

iii. Pratique aritmética com nearrays e calcule o endividamento total como:
$$endividamento\hspace{.2cm}total = \frac{custo \hspace{.2cm}fixo + dívida\hspace{.2cm}financeira}{renda\hspace{.2cm}familiar}$$
Guarde os resultados em uma variável chamada ```endividamento_total``` e verifique os resultados imprimindo o conteúdo dessa variável no output.

iv. Considere que há um erro de digitação que precisa ser corrigido: 3o indivíduo na verdade não possui renda familiar de R\\$7.000,00, mas sim R\\$ 10.000,00. Corrija esse valor e refaça os cálculos.

In [8]:
# lista dados_financeiros
dados_financeiros = [[3000, 2500, 1000, 10000],[1000, 2500, 3000, 5000],[6000, 5500, 7000, 16000]]

#i) transforme essa lista em um ndarray
dados_financeiros = np.array(dados_financeiros)
dados_financeiros

array([[ 3000,  2500,  1000, 10000],
       [ 1000,  2500,  3000,  5000],
       [ 6000,  5500,  7000, 16000]])

In [9]:
# ii)

# Eu tentei usar o método transpose( ), porém
# ela não logrou êxito para que eu pudesse realizar
# a matriz composta, o que fez ter que usar a pro-
# priedade T, para que a gerasse.

dados_financeiros = dados_financeiros.T
dados_financeiros

array([[ 3000,  1000,  6000],
       [ 2500,  2500,  5500],
       [ 1000,  3000,  7000],
       [10000,  5000, 16000]])

In [10]:
dados_financeiros[:, 0] # custo fixo

array([ 3000,  2500,  1000, 10000])

In [11]:
dados_financeiros[:, 1] # divida financeira

array([1000, 2500, 3000, 5000])

In [12]:
dados_financeiros[:, 2] # renda familiar

array([ 6000,  5500,  7000, 16000])

In [13]:
# iii) Calcule o endividamento total

endividamento = (dados_financeiros[:, 0] + dados_financeiros[:, 1]) / (dados_financeiros[:, 2])
endividamento

array([0.66666667, 0.90909091, 0.57142857, 0.9375    ])

In [14]:
# iv) corrigindo um valor específico

# colocando a relação dívida-renda em porcentagem

endividamento = (endividamento*100).round(2)
endividamento

array([66.67, 90.91, 57.14, 93.75])

### 4) É muito comum precisarmos identificar valores especiais e darmos tratamento a eles quer seja alterando-os quer seja descartando-os.

O trecho de código abaixo gera um ndarray com números pseudo aleatórios. Considere que para efeitos do estudo que virá, devemos desconsiderar valores iguais a zero. Sendo assim:

i) crie um objeto ```bool_zero``` que traga uma sequencia de booleanos do mesmo tamanho que o objeto poi, e que vale ```True``` quando o valor de ```poi``` é zero, e ```False``` caso contrário.

ii) Conte quantos valores zero existem. Lembre-se de que no final das contas, ```True``` vale 1 para o Python, e ```False``` vale zero, então uma boa dica seria usar a função ```sum()```.

iii) Utilize a indexação booleana que você aprendeu para criar uma variável ```poi_nao_zero``` que aponta para os elementos de ```poi``` diferentes de zero. Dica: você vai pode inverter os elementos do objeto que criou em *ii)* ou escrever a comparação adequada.

In [37]:
# objeto poi - obs: o comando np.random.seed(1234) garante que o mesmo resultado será gerado sempre
np.random.seed(1234)
poi = np.random.poisson(3, 100)
poi

array([3, 3, 6, 2, 4, 5, 4, 4, 2, 0, 3, 3, 2, 8, 2, 3, 3, 3, 0, 4, 4, 2,
       6, 6, 0, 3, 4, 3, 5, 2, 1, 3, 2, 2, 3, 2, 4, 4, 5, 7, 3, 5, 3, 3,
       2, 2, 3, 6, 2, 2, 4, 3, 5, 2, 5, 3, 0, 2, 1, 1, 4, 4, 4, 6, 2, 4,
       1, 2, 5, 5, 3, 4, 1, 4, 1, 1, 7, 1, 2, 1, 3, 7, 0, 4, 4, 0, 6, 1,
       3, 4, 2, 5, 4, 5, 5, 3, 4, 6, 8, 2])

In [ ]:
import random

# Criando um array de dados booleanos:

array_booleano = np.array([random.choice([True, False]) for _ in range(100)])
array_booleano

In [33]:

# i) crie o objeto bool_zero através do operador ==

bool_zero = np.array([x == 0 for x in poi])
bool_zero

array([False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [35]:
# ii) Conte a quantidade de zeros (ou some os elementos de bool_zero)
x = sum(bool_zero)
x

# Para saber a quantidade de zeros que há num array, eu posso simplesmente
# alterá-lo para que ele seja preechido por valores booleanos, os quais,
# por meio de uma operação lógica, aqui, retornam True para valores iguais
# a zero e False para valores iguais a um.

6

In [40]:
# iii) utilize a indexação booleana para criar uma seleção de não-zeros
# dica: inverta o objeto bool_zero

bool_one = np.array([y != 0 for y in poi])

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [42]:
poi[bool_one]

array([3, 3, 6, 2, 4, 5, 4, 4, 2, 3, 3, 2, 8, 2, 3, 3, 3, 4, 4, 2, 6, 6,
       3, 4, 3, 5, 2, 1, 3, 2, 2, 3, 2, 4, 4, 5, 7, 3, 5, 3, 3, 2, 2, 3,
       6, 2, 2, 4, 3, 5, 2, 5, 3, 2, 1, 1, 4, 4, 4, 6, 2, 4, 1, 2, 5, 5,
       3, 4, 1, 4, 1, 1, 7, 1, 2, 1, 3, 7, 4, 4, 6, 1, 3, 4, 2, 5, 4, 5,
       5, 3, 4, 6, 8, 2])